#nav-title{
    font-size:30px;
    color: #fdcd22;
    font-weight: bold;
}

.edit-btn {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-left: 20px;
}

.addnew-btn {
    width: 250px;
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: center;
}