#nav-title{
    font-size:30px;
    color: #fdcd22;
    font-weight: bold;
}

.edit-btn {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-left: 20px;
}

.addnew-btn {
    width: 250px;
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: center;
    background-color: #edc124;
}

.logout-btn{
    padding-right: 65px;
    background: #edc124;
    text-align: center;
    border: none;
}

.h1-title {
    font-weight: bold;
    color: #edc124;
    padding-left: 50px;
}