#nav-title{
    font-size:30px;
    color: #fdcd22;
    font-weight: bold;
}

.edit-btn {
    margin-right: 10px;
    margin-left: 20px;
}

.addnew-btn {
    width: 250px;
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: center;
    background-color: #edc124;
}

.logout-btn{
    padding-right: 65px;
    background: #edc124;
    text-align: center;
    border: none;
    font-family: inherit;
    font-weight: bold;
}

.h1-title {
    font-weight: bold;
    color: #edc124;
    padding-left: 50px;
}

.table{
    font-family: inherit;
    font-size: 19px;
}

@media all and (min-width: 768px) and (max-width: 1366px)
{

    .edit-btn {
        margin-right: 0px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

}