                            .weeks {
                                background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/12weeks.jpg);
                                width: 100%;
                                background-position: center;
                                background-size: cover;
                                position: relative;
                                min-height: 150vh;
                            }
                            
                            #weeks12-section strong{
                                font-family: Nunito;
                                font-weight: 900 !important;
                            }
                        
                            button.read-more-btn {
                                display: none;
                            }

                            .judul-week {
                                margin-top: 10% !important;
                                z-index: 1;
                                position: absolute;
                                color: #FDCD22;
                                font-family: Nunito !important;
                                font-weight: bold;
                            }

                            #swiper-container-week {
                                max-width: 77%;
                                margin-top: 27%;
                            }

                            #swiper-slide-week {
                                max-width: 100%;
                                max-height: 100%;
                            }

                            #swiper-slide-week img {
                                display: block;
                                width: 300px !important;
                                height: 200px;
                                object-fit: cover;
                            }

                            #box-week {
                                align-items: center;
                                content: '';
                                z-index: 1;
                                position: absolute;
                                display: block;
                                opacity: 60%;
                                width: 80%;
                                height: 350px;
                                background-color: #000;
                                margin-top: 18%;
                                border-radius: 20px;
                                -webkit-border-radius: 20px;
                                -moz-border-radius: 20px;
                                -ms-border-radius: 20px;
                                -o-border-radius: 20px;
                            }

                            figure {
                                width: 300px !important;
                                box-sizing: border-box;
                                object-fit: cover;
                                background-size: cover;
                                background-position: center;
                                position: relative;
                            }

                            .img-fluid {
                                border-radius: 20px;
                                -webkit-border-radius: 20px;
                                -moz-border-radius: 20px;
                                -ms-border-radius: 20px;
                                -o-border-radius: 20px;
                            }

                            .tgl {
                                font-family: Nunito;
                                font-weight: bold;
                                color: #FDCD22;
                                font-size: 13px;
                                margin-top: -3% !important;
                            }

                            .fa-calendar-alt {
                                color: #FDCD22;
                            }

                            .title-img {
                                color: #FDCD22;
                                font-family: Nunito;
                                font-weight: bold;
                                margin-top: 3%;
                                font-size: 19px;
                            }

                            #btn-week {
                                color: #FDCD22;
                                margin-top: -2%;
                            }

                            .caption-week {
                                color: #fff;
                                margin-top: 15%;
                                position: absolute;
                                z-index: 2;
                                display: block;
                                max-width: 40% !important;
                                text-align: justify;
                                max-width: 60% !important;
                                text-align: left;
                                max-width: 40% !important;
                                text-align: justify;
                            }

                            #date-week-mb {
                                display: none;
                            }

                            #see-more-week {
                                width: 20%;
                                margin-top: 10% !important;
                                border-radius: 20px;
                                -webkit-border-radius: 20px;
                                -moz-border-radius: 20px;
                                -ms-border-radius: 20px;
                                -o-border-radius: 20px;
                            }

                            @media all and (min-width: 1920px) {
                                #swiper-container-week {
                                    max-width: 80%;
                                    margin-top: 32%;
                                }
                                #swiper-slide-week {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                                #box-week {
                                    width: 60%;
                                }
                            }

                            @media all and (min-width: 768px) and (max-width:1366px) {
                                .judul-week {
                                    margin-top: 2% !important;
                                    z-index: 1;
                                    position: absolute;
                                    color: #FDCD22;
                                    font-family: Nunito !important;
                                    font-weight: bold;
                                }
                                #swiper-container-week {
                                    max-width: 90%;
                                    margin-top: 25%;
                                }
                                #swiper-slide-week {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                                #swiper-slide-week img {
                                    display: block;
                                    max-width: 300px !important;
                                    max-height: 200px;
                                    object-fit: cover;
                                }
                                #btn-week {
                                    color: #FDCD22;
                                    /* margin-top: -20%; */
                                }
                                .caption-week {
                                    color: #fff;
                                    margin-top: 15%;
                                    position: absolute;
                                    z-index: 2;
                                    display: block;
                                    max-width: 50% !important;
                                    text-align: center;
                                }
                                #date-week-mb {
                                    display: none;
                                }
                                #box-week {
                                    width: 85%;
                                }
                            }

                            @media all and (max-width: 768px) {
                                #box-week {
                                    width: 60vh;
                                    min-height: 100vh;
                                    display: none;
                                    margin-top: 0%;
                                    -webkit-border-radius: 20px;
                                    -moz-border-radius: 20px;
                                    -ms-border-radius: 20px;
                                    -o-border-radius: 20px;
                                }
                                .weeks {
                                    min-height: 100vh;
                                    background-position: center;
                                    background-size: cover;
                                    position: relative;
                                }
                                .weeks::after {
                                    height: 800vh;
                                    position: absolute;
                                }
                                .judul-week {
                                    margin-top: 7% !important;
                                    z-index: 1;
                                    position: absolute;
                                    color: #FDCD22;
                                    font-family: Nunito;
                                    font-weight: bold;
                                }
                                #swiper-container-week {
                                    max-width: 80%;
                                    margin-top: 80% !important;
                                }
                                #swiper-slide-week {
                                    max-width: 100% !important;
                                    max-height: 100% !important;
                                }
                                #swiper-slide-week img {
                                    display: block;
                                    /* max-width: 300px !important; */
                                    max-height: 280px;
                                    object-fit: cover;
                                    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
                                }
                                #btn-week {
                                    color: #fff;
                                    margin-top: -7% !important;
                                }
                                #date-week {
                                    display: none;
                                }
                                #date-week {
                                    display: none;
                                }
                                .caption-week {
                                    margin-top: 45%;
                                    color: #fff;
                                    text-align: left;
                                    max-width: 80% !important;
                                    margin-left: 0vh;
                                    margin-right: 0vh;
                                    padding-left: 0vh;
                                    padding-right: 0vh;
                                    font-size: 17px;
                                }
                                #see-more-week {
                                    width: 80%;
                                    margin-top: 13% !important;
                                }
                                .weeks {
                                    min-height: 130vh;
                                }
                                .weeks {
                                    margin-top: -30%;
                                }
                            }

                            @media all and (min-width: 768px) and (max-width:800px) {
                                #swiper-container-week {
                                    max-width: 90%;
                                    margin-top: 60% !important;
                                }
                                #swiper-slide-week {
                                    max-width: 300px !important;
                                    max-height: 200px;
                                }
                                #swiper-slide img {
                                    display: block;
                                    width: 300px !important;
                                    height: 200px;
                                    object-fit: cover;
                                }
                                #btn-week {
                                    color: #FDCD22;
                                    margin-top: -7%;
                                }
                                #see-more-week {
                                    width: 40%;
                                }
                                .weeks {
                                    min-height: 100vh;
                                }
                            }

                            @media all and (min-width: 414px) and (max-width:420px) {
                                /* #swiper-container-week {
        max-width: 75%;
    } */
                            }

                            @media all and (min-width: 300px) and (max-width:400px) {
                                #swiper-container-week {
                                    max-width: 85%;
                                    margin-top: 80% !important;
                                }
                                #swiper-slide-week img {
                                    display: block;
                                    max-width: 300px !important;
                                    max-height: 200px;
                                    object-fit: cover;
                                }
                            }
