.weeks {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/12weeks.png) !important;
    width: 100%;
    min-height: 120vh;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -20%;
}

button.read-more-btn {
    display: none;
}

.judul-week {
    margin-top: 2% !important;
    z-index: 1;
    position: absolute;
    color: #FDCD22;
    font-family: Nunito !important;
    font-weight: bold;
}

#swiper-container-week {
    max-width: 90%;
    margin-top: 35%;
}

#swiper-slide-week {
    max-width: 20%;
    margin-left: 8%;
    max-height: 100%;
}

#swiper-slide-week img {
    display: block;
    max-width: 300px !important;
    max-height: 200px;
    object-fit: cover;
}

#box-week {
    align-items: center;
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    opacity: 60%;
    width: 80%;
    height: 350px;
    background-color: #000;
    margin-top: 23%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

figure {
    width: 300px !important;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img-fluid {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.wrapper {
    /* height: 280px;
    background-color: #FDCD22;
    opacity: 50%; */
}

.tgl {
    font-family: Nunito;
    font-weight: bold;
    color: #FDCD22;
    font-size: 13px;
    margin-top: -3% !important;
}

.fa-calendar-alt {
    color: #FDCD22;
}

.title-img {
    color: #FDCD22;
    font-family: Nunito;
    font-weight: bold;
    margin-top: 3%;
    font-size: 19px;
}

#btn-week {
    color: #FDCD22;
    margin-top: -5%;
}

.caption-week {
    color: #fff;
    margin-top: 10%;
    position: absolute;
    z-index: 2;
    display: block;
    max-width: 50% !important;
    text-align: center;
}

#date-week-mb {
    display: none;
}

@media all and (min-width: 768px) and (max-width:1366px) {
    .judul-week {
        margin-top: 2% !important;
        z-index: 1;
        position: absolute;
        color: #FDCD22;
        font-family: Nunito !important;
        font-weight: bold;
    }
    #swiper-container-week {
        max-width: 90%;
        margin-top: 35%;
    }
    #swiper-slide-week {
        max-width: 30%;
        margin-left: 2%;
        max-height: 100%;
    }
    #swiper-slide-week img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    #btn-week {
        color: #FDCD22;
        /* margin-top: -20%; */
    }
    .caption-week {
        color: #fff;
        margin-top: 10%;
        position: absolute;
        z-index: 2;
        display: block;
        max-width: 50% !important;
        text-align: center;
    }
    #date-week-mb {
        display: none;
    }
    #date-week {
        margin-top: 56vh;
        position: absolute;
        background-color: #FDCD22 !important;
        text-align: center;
        border: none !important;
        z-index: 1;
        max-width: 20%;
        border-radius: 20px !important;
        margin-left: 13%;
        align-items: flex-start !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
    }
}

@media all and (max-width: 768px) {
    #box-week {
        width: 60vh;
        min-height: 100vh;
        display: block;
        margin-top: 0%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .weeks {
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .weeks::after {
        height: 800vh;
        position: absolute;
    }
    .judul-week {
        margin-top: 7% !important;
        z-index: 1;
        position: absolute;
        color: #FDCD22;
        font-family: Nunito;
        font-weight: bold;
    }
    .tgl {
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }
    .fa-calendar-o {
        margin-right: 3%;
        margin-top: 0.5%;
    }
    #swiper-container-week {
        max-width: 60%;
        max-height: 100%;
        margin-top: 100% !important;
    }
    #swiper-slide-week {
        max-width: 100% !important; 
        max-height: 100%;
        margin-left: 2%;
        margin-right: 0;
    }
    #swiper-slide img {
        display: block;
        /* max-width: 300px !important; */
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        margin-right: 0;
        margin-left: 42px;
    }
    #btn-week {
        color: #FDCD22;
        margin-top: -20%;
    }
    #date-week {
        display: none;
    }
    .caption-week {
        margin-top: 25%;
        color: #fff;
        text-align: center;
        font-size: 16px;
    }
    .moreText {
        display: none;
    }
    #btn-read-more-week {
        margin-top: 10% !important;
        display: none;
        width: 80%;
    }
    .caption-week.show-more .moreText {
        display: inline;
    }
}
