.blog {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
}

#about-blog {
    margin-top: 5%;
}

.blog-img {
    margin-top: 15%;
}

.blog-img img {
    background-size: cover;
    position: relative;
    width: 100%;
}

.blog-img::after {
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 40%;
}

.blog-img p {
    color: #fff;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    text-shadow: 1px 1px black;
    max-width: 15% !important;
    margin: 20px 0 20px 40px;
}

.blog-img a {
    text-decoration: none;
    color: #FDCD22;
    font-weight: bold;
    position: absolute;
    text-shadow: 1px 1px black;
    z-index: 1;
    font-size: 20px;
    margin-top: 12%;
    margin-right: 5%;
}

@media all and (min-width: 768px) and (max-width: 1366px){

    .blog {
        padding-bottom: 10vh;
    }

    .blog-img {
        margin-top: 15%;
    }

    .blog-img img {
        background-size: cover;
        position: relative;
    }

    .blog-img::after {
        content: "";
        position: absolute;
        background-color: #000;
        opacity: 40%;
    }

    .blog-img p {
        color: #fff;
        position: absolute;
        z-index: 1;
        text-shadow: 1px 1px black;
        max-width: 20% !important;
        margin: 20px 0 20px 20px;
    }

    .blog-img a {
        text-decoration: none;
        color: #FDCD22;
        font-weight: bold;
        position: absolute;
        z-index: 1;
        margin-top: 14%;
        margin-right: 5%;
    }
}

@media all and (max-width: 768px){
    .blog {
        padding-bottom: 10vh;
    }

    .blog-img p {
        color: #fff;
        position: absolute;
        z-index: 1;
        font-size: 17px;
        text-shadow: 1px 1px black;
        max-width: 80% !important;
        margin: 30px 0 20px 20px;
    }

    .blog-img a {
        text-decoration: none;
        color: #FDCD22;
        font-weight: bold;
        position: absolute;
        z-index: 1;
        font-size: 17px;
        margin-top: 50%;
        margin-right: 5%;
    }
}