nav {
    /* background-color: #FDCD22!important; */
    display: block;
}

.navbar {
    overflow: hidden;
    overflow-x: hidden;
    position: fixed !important;
    top: 0;
    z-index: 3;
    width: 100%;
}

@media all and (min-width:1000px) {
    a.nav-link {
        align-items: center !important;
        text-align: center !important;
        flex: center;
        position: relative;
        left: 10%;
        float: none;
        top: 5%;
        margin-left: 40px;
        font-size: 17px;
        font-family: Nunito;
        font-weight: bold;
    }
}

.navbar-nav a {
    color: #FDCD22 !important;
    /* color: #fff; */
    /* margin-left: 50px; */
}


/* backgorund */

.bg-event {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/about.jpg);
    min-height: 160vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Nunito;
}

.title {
    color: #FDCD22;
    margin-top: 5%;
}

.title-h1 {
    color: #FDCD22;
    margin-top: 20%;
}

.img-fluid {
    margin-top: 5%;
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: block;
    height: auto;
}

.deskripsi {
    color: white;
    max-width: 100%;
    margin-top: 5%;
}

.right-side {
    color: #FDCD22;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: -5%;
}

.line {
    background-color: #FDCD22 !important;
    width: 20%;
    height: 1px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-left: auto;
    margin-top: -1%;
}

.content {
    /* height: 280px;
    background-color: #FDCD22;
    opacity: 50%; */
    /* min-height: 100vh; */
    height: 100%;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    margin-top: 0%;
}

.content a {
    text-decoration: none;
}

.new-blog {
    margin-top: 5%;
    width: 220px;
    height: 140px;
}

.desc-content {
    /* margin-top: 6% !important; */
    color: #FDCD22;
    position: relative;
    flex: 1;
    font-size: 17px;
    font-family: nunito;
    font-weight: bold;
}

.tgl {
    margin-top: -17px;
    position: absolute;
    color: white;
    font-size: 13px;
}

.new-blog-2 {
    margin-top: 10%;
    width: 220px;
    height: 140px;
}

.desc-content-2 {
    color: #FDCD22;
    position: relative;
    flex: 1;
    font-size: 17px;
    font-family: nunito;
    font-weight: bold;
}

.tgl-2 {
    margin-top: 320px;
    position: absolute;
    color: white;
    font-size: 13px;
}

.new-blog-3 {
    margin-top: 10%;
    width: 220px;
    height: 140px;
}

.desc-content-3 {
    color: #FDCD22;
    position: relative;
    flex: 1;
    font-size: 17px;
    font-family: nunito;
    font-weight: bold;
}

.tgl-3 {
    margin-top: 70vh;
    position: absolute;
    color: white;
    font-size: 13px;
}


/* .left-bar {
    vertical-align: top;
    float: left;
    max-width: 60%;
} */

#left-bar {
    margin-top: -5%;
}

#left-bar img {
    position: relative;
    object-fit: cover;
    background-position: center;
    width: 100%;
}

.sidebar-container {
    max-width: 20%;
    float: left;
    margin-right: 0% !important;
    vertical-align: top;
    margin-top: 16%;
    /* display: flex;
    justify-content: flex-end; */
}

@media all and (max-width: 768px) {
    .sidebar-container {
        position: relative;
        object-fit: cover;
        max-width: 100%;
    }
    .left-bar {
        max-width: 100%;
    }
    .line {
        width: 50%;
        margin-top: 3%;
    }
    .new-blog {
        position: relative;
        margin-top: 8%;
        width: 100%;
        height: 100%;
    }
    .new-blog-2 {
        position: relative;
        margin-top: 8%;
        width: 100%;
        height: 100%;
    }
    .new-blog-3 {
        position: relative;
        margin-top: 8%;
        width: 100%;
        height: 100%;
    }
}
