#about-event {
    margin-top: 5%;
}

.event {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 0%;
}

.event-img {
    margin-top: 35%;
}

.event-img p {
    text-align: center;
    color: #FFF;
    margin-top: 15px;
}

.btn-warning {
    font-weight: bold !important;
    width: 40%;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

@media all and (min-width: 768px) and (max-width: 1366px){
    
    .event-img {
        margin-top: 10%;
    }
}

@media all and (max-width: 768px){

    #about-event {
        margin-top: 15%;
    }

    .event-img {
        margin-top: 10%;
    }
    
    .event {
        background-color: #000;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 10%;
    }

}