.bg-funrun {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/funrun.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-funrun h1 {
    margin-top: 0%;
}

#swiper-container-run {
    max-width: 70%;
    margin-top: 9%;
}

#swiper-slide-run {
    max-width: 25%;
    max-height: 100%;
    margin-left: 5%;
}

#swiper-slide-run img {
    display: block;
    max-width: 300px !important;
    max-height: 200px;
    object-fit: cover;
}

#box-fun {
    align-items: center;
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    opacity: 60%;
    width: 80%;
    height: 350px;
    background-color: #000;
    margin-top: 5%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

figure {
    width: 300px !important;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img-fluid {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.wrapper {
    /* height: 280px;
    background-color: #FDCD22;
    opacity: 50%; */
}

.tgl {
    font-family: Nunito;
    font-weight: bold;
    color: #FDCD22;
    font-size: 13px;
    margin-top: -3%;
}

.fa-calendar-alt {
    color: #FDCD22;
}

.title-img {
    color: #FDCD22;
    font-family: Nunito;
    font-weight: bold;
    margin-top: 3%;
    font-size: 19px;
}

#btn-funrun {
    color: #FDCD22;
    margin-top: -5%;
}

#funrun-p {
    margin-top: 6%;
    padding-left: 30vh;
    padding-right: 30vh;
    font-family: Nunito;
    color: white;
    margin-bottom: 40%;
    text-align: justify;
}


/* Tablet Mode */

@media all and (min-width: 768px) and (max-width: 1366px) {
    #date-funrun {
        display: none;
    }
    .bg-carousel-funrun {
        background-color: rgba(0, 0, 0, 0.4);
        background-position: center;
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .row-funrun {
        margin-left: 0%;
        margin-right: 4%;
    }
    #btn-funrun {
        margin-top: -4%;
        margin-left: -1%;
        margin-right: 0;
        color: #FDCD22 !important;
    }
    #funrun-p {
        margin-top: 8%;
        padding-left: 0vh;
        padding-right: 0vh;
        font-family: Nunito;
        font-size: 30px;
        color: white;
        margin-bottom: 40%;
        text-align: justify;
        margin-left: 4vh;
        margin-right: 6vh;
    }

    #swiper-slide-run {
        margin-left: 2%;
        margin-top: 3%;
        max-width: 30%;
    }

}


/* Phone Mode */

@media all and (max-width: 768px) {
    #box-fun {
        width: 100%;
        height: 300px;
        margin-top: 5%;
        display: none;
    }
    #date-funrun {
        display: none;
    }
    .bg-carousel-funrun {
        background-color: rgba(0, 0, 0, 0.4);
        background-position: center;
        position: relative;
        width: 100%;
        height: 30vh;
        margin-left: 0;
        margin-top: 2vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .row-funrun {
        margin-left: 4%;
        margin-right: 4%;
    }
    #btn-funrun {
        margin-top: -15%;
        font-size: 50px;
    }
    #funrun-p {
        margin-top: 8%;
        padding-left: 0vh;
        padding-right: 0vh;
        font-family: Nunito;
        font-size: 17px;
        color: white;
        margin-bottom: 40%;
        text-align: justify;
        margin-left: 4vh;
        margin-right: 6vh;
    }
    .phone-funrun {
        margin-bottom: 20%;
    }
    #swiper-slide-run img {
        display: block;
        width: 500px !important;
        height: 270px !important;
        box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
    }
    #swiper-slide-run {
        margin-left: 1%;
        max-width: 100% !important;
        max-height: 100% !important;
    }
    #swiper-container-run {
        max-width: 73%;
        margin-top: 13%;
    }
    #btn-read-more-fun {
        margin-top: -60% !important;
        width: 80%;
        display: inline-block;
    }
}
