nav {
    /* background-color: #FDCD22!important; */
    display: block;
}

a.nav-link {
    color: #fff;
    align-items: center !important;
    text-align: center !important;
    flex: center;
    position: relative;
    left: 40%;
    float: none;
    top: 5%;
    margin-left: 50px;
    font-size: 20px;
    font-family: Nunito;
    font-weight: bold;
}

.navbar-nav a {
    color: #FDCD22 !important;
    /* color: #fff; */
    /* margin-left: 50px; */
}

.page-section {
    background-color: black;
}

.section-subheading {
    color: #FDCD22;
    font-family: Nunito !important;
}