nav {
    /* background-color: #FDCD22!important; */
    display: block;
}

.navbar {
    overflow: hidden;
    overflow-x: hidden;
    position: fixed !important;
    top: 0;
    z-index: 3;
    width: 100%;
}

@media all and (min-width:1000px) {
    a.nav-link {
        align-items: center !important;
        text-align: center !important;
        flex: center;
        position: relative;
        left: 5%;
        float: none;
        top: 5%;
        margin-left: 40px;
        font-size: 14px;
        font-family: Nunito;
        font-weight: bold;
    }
}

.navbar-nav a {
    color: #FDCD22 !important;
    /* color: #fff; */
    /* margin-left: 50px; */
}

.page-section {
    width: 100%;
    min-height: 150vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-subheading {
    color: #FDCD22;
    font-family: Nunito !important;
}

#see-more {
    width: 20%;
    margin-top: 7%;
    position: relative;
}

.search {
    margin-top: 5%;
    margin-left: auto;
    width: 25%;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-end !important;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#search {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#btn-search {
    width: 20%;
}

#datepicker {
    margin-top: 4%;
    position: absolute;
    background-color: #FDCD22 !important;
    text-align: center;
    border: none !important;
    max-width: 20%;
    border-radius: 20px !important;
    align-items: flex-start !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

select {
    font-family: 'FontAwesome', 'Nunito';
}

@media all and (max-width: 768px) {
    #datepicker {
        width: 100%;
        max-width: 95%;
    }
    .search {
        width: 100%;
        position: absolute;
        margin-top: 17%;
        margin-bottom: 20%;
    }
    .port {
        margin-top: 20% !important;
        position: relative;
    }
}