nav {
    /* background-color: #FDCD22!important; */
    display: block;
}

.navbar {
    overflow: hidden;
    overflow-x: hidden;
    position: fixed !important;
    top: 0;
    z-index: 3;
    width: 100%;
}

@media all and (min-width:1000px) {
    a.nav-link {
        align-items: center !important;
        text-align: center !important;
        flex: center;
        position: relative;
        left: 5%;
        float: none;
        top: 5%;
        margin-left: 40px;
        font-size: 14px;
        font-family: Nunito;
        font-weight: bold;
    }
}

.navbar-nav a {
    color: #FDCD22 !important;
}

.page-section {
    width: 100%;
    min-height: 130vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-subheading {
    color: #FDCD22;
    font-family: Nunito !important;
    margin-top: 5%;
}

.judul {
    color: #FDCD22;
    font-family: Nunito;
    margin-top: 5% !important;
}

.portfolio-item {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

#see-more {
    width: 20%;
    margin-top: 7%;
    position: relative;
}

@media all and (max-width: 768px) {
    #see-more {
        width: 90%;
    }
}
