html,
body {
    width: auto!important;
    overflow-x: hidden!important;
    font-family: Nunito;
}

.bg {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/intro.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#mobile {
    display: none;
}

.logo {
    position: absolute;
    z-index: 1;
    margin-top: 2%;
}

.caption h1 {
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 10%;
    max-width: 40%;
    color: #FDCD22;
    font-weight: bold;
    text-shadow: 4px 4px 4px #000000;
}

.caption-2 p {
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 19%;
    max-width: 45%;
    font-size: 20px;
}

#btn {
    height: 40px;
    position: absolute;
    z-index: 1;
    margin-top: 18%;
    border-radius: 30px;
    display: block;
    width: 20%;
    font-weight: bold;
    box-shadow: 4px 4px 4px #000000;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

#btn-mb {
    display: none;
}

@media (min-width: 769px) and (max-width:1336px) {
    .caption-2 p {
        margin-top: 30% !important;
    }
    #btn {
        margin-top: 30%;
        width: 15%;
    }
}

@media (min-width: 1920px) {
    .caption-2 p {
        width: 35%;
    }
    #btn {}
}

@media (max-width: 767px) {
    #mobile {
        width: 100%;
        height: 52em;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #bg-2 {
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/about.jpg);
        height: 100vh;
        width: 100%;
        overflow: hidden;
        overflow-x: hidden;
    }
    .caption h1 {
        text-align: center;
        max-width: 100%;
        margin-top: 50%;
    }
    .caption-2 p {
        text-align: center;
        margin-top: 90%;
        max-width: 100%;
        font-size: 18px;
    }
    #btn-mb {
        position: relative;
        display: block !important;
        border-radius: 10px;
        width: 80%;
        height: 7%;
        font-weight: bold;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    #btn {
        display: flex;
        justify-content: center;
        width: 90%;
        position: absolute;
        margin-top: 40vh;
    }
}

@media (max-width: 375px) and (max-width:380px) {
    #btn {
        display: flex;
        justify-content: center;
        width: 90%;
        position: absolute;
        margin-top: 80vh;
    }
}

@media (min-width: 500px) and (max-width:769px) {
    #mobile {
        width: 100%;
        height: 52em;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #bg-2 {
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/about.jpg);
        height: 100vh;
        width: 100%;
        overflow: hidden;
        overflow-x: hidden;
    }
    .caption h1 {
        text-align: center;
        max-width: 90%;
        margin-top: 50%;
    }
    .caption-2 p {
        text-align: center;
        margin-top: 70%;
        max-width: 90%;
    }
    #btn {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-top: 80vh;
    }
}
