.bg-mass {
    min-height: 130vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/maskworkout.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

#mass-h1 {
    font-family: Nunito;
    color: #FDCD22;
    font-weight: bold;
    font-stretch: ultra-expanded;
    margin-top: 3%;
}

.mass-p {
    font-family: Nunito;
    color: white;
    margin-top: 17%;
}

#mass-swipper {
    margin-left: 5%;
}

#img-swipper {
    margin-top: 10%;
}

.moreText {
    display: none;
}

button.read-more-btn {
    display: none;
}

.about-p.show-more .moreText {
    display: inline;
}

.swiper-container img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

#swiper-mask {
    width: 700px;
    height: 500px;
}

#mask {
    width: 100%;
}

#see-more {
    width: 20%;
    margin-top: 0%;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#date-mask {
    margin-top: 5%;
    position: absolute;
    background-color: #FDCD22 !important;
    text-align: center;
    border: none !important;
    z-index: 1;
    max-width: 25%;
    border-radius: 20px !important;
    margin-left: 8%;
    align-items: flex-start !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

#btn-mask {
    color: #FDCD22;
    margin-top: -15%;
}


/* Table Mode */

@media all and (min-width: 768px) and (max-width: 1366px) {
    #mass-h1 {
        /* font-size: 70px; */
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .mass-p {
        text-align: justify;
    }
    #mass-date {
        display: none;
    }
    #mass-swipper {
        margin: 0;
    }
    #mask {
        margin-top: -30%;
    }
}


/* Phone Mode */

@media all and (max-width: 768px) {
    #see-more {
        width: 90%;
    }
    #mass-h1 {
        font-size: 45px;
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .mass-p {
        margin-top: -15%;
        font-size: 17px;
        text-align: start;
    }
    .moreText {
        display: none;
    }
    #btn-read-more-mass {
        display: inline-block;
        margin-bottom: 10% !important;
        /* margin-top: 60px !important; */
        width: 80%;
    }
    .text.show-more .moreText {
        display: inline;
    }
    #mass-date {
        display: none;
    }
    #mass-swipper {
        margin: 0;
    }
}