.sponsor {
    background-color: #000;
    height: 400px;
}

.sponsor h1 {
    color: #FDCD22;
    text-align: center;
    font-family: Nunito;
    font-weight: bold;
    margin-top: 5%;
}


/* slider */

#swiper-container-sponsor {
    width: 100%;
    height: 100%;
}

#swiper-slide-sponsor img {
    margin-top: 25%;
    display: block;
    max-width: 325px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

#swiper-slide-sponsor {
    max-width: 100%;
}

#btn-sponsor {
    color: #FDCD22;
    margin-top: 1%;
}


/* slider */

@media all and (max-width: 768px) {
    #btn-sponsor {
        color: #FDCD22;
        margin-top: 7% !important;
    }
    /* #swiper-slide-sponsor {
        max-width: 500px;
        align-items: center;
    }
    #swiper-slide-sponsor img {
        max-width: 500px;
    } */
    #swiper-container-sponsor {
        max-width: 84%;
    }
}