#bg {
    width: 100%;
    height: 50em;
    display: block;
}

#mobile {
    display: none;
}

.logo {
    position: absolute;
    z-index: 1;
    margin-top: 2%;
}

.caption h1 {
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 10%;
    max-width: 40%;
}

.caption-2 p {
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 18%;
    max-width: 40%;
}

#btn {
    position: absolute;
    z-index: 1;
    margin-top: 25%;
    border-radius: 10px;
    display: block;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#btn-mb {
    display: none;
}

@media (max-width: 768px) {
    #mobile {
        width: 100%;
        height: 52em;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #bg {
        display: none;
    }
    .caption h1 {
        text-align: center;
        max-width: 100%;
        margin-top: 40%;
    }
    .caption-2 p {
        text-align: center;
        max-width: 100%;
        margin-top: 80%;
    }
    #btn-mb {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 120%;
        display: block !important;
        z-index: 1;
        position: absolute;
        border-radius: 10px;
        width: 80%;
        height: 7%;
        font-weight: bold;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    #btn {
        display: none !important;
    }
}
