/* testimonal */

.testi {
    background-color: #FDCD22 !important;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.testi h1 {
    margin-top: 5%;
    font-family: Nunito;
    font-weight: bold;
}

.testi-mg {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.testi-img img {
    display: inline;
    background-size: cover;
    align-items: center;
    max-width: 250px;
    margin-top: 15%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testi-img h2 {
    text-align: center;
    margin-top: 3%;
}

.testi-img p {
    text-align: center;
    margin-top: 3%;
}


/* testimonal */
