.blog {
    background-color: #000;
    width: 100%;
    height: 1031px;
}

.judul-blog {
    color: #FDCD22;
    font-weight: bold;
    font-family: Nunito;
    margin-top: 15%;
}

.blog-img {
    margin-top: 15%;
}

.blog-img img {
    position: relative;
    background-size: cover;
}


/* .blog-img::backdrop {
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 40%;
} */

.blog-img p {
    color: #fff;
    position: absolute;
    z-index: 1;
    max-width: 20% !important;
    margin: 20px 0 20px 20px;
}

.blog-img a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: 14%;
    margin-right: 5%;
}