.bg-funrun{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/funrun.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

#date-funrun{
    margin-left: 20vh;
}

.bg-carousel-funrun{
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    position: relative;
    width: 80%;
    margin-left: 17vh;
    margin-top: 2vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.row-funrun{
    margin-left: 5%;
    margin-right: 5%;
}

.btn-funrun {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 5%;
    color: #FDCD22;
}

#funrun-p {
    margin-top: 6%;
    padding-left: 8vh;
    padding-right: 30vh;
    font-family: Nunito;
    font-size: 40px;
    color: white;
    margin-bottom: 40%;
    text-align: left;
}

/* Tablet Mode */
@media all and (min-width: 768px) and (max-width: 1366px){

    #date-funrun{
        display: none;
    }

    .bg-carousel-funrun{
        background-color: rgba(0, 0, 0, 0.4);
        background-position: center;
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    
    .row-funrun{
        margin-left: 3%;
        margin-right: 3%;
    }

    #btn-fun {
        padding-left: -20%;
        margin-right: 0;
        color: #FDCD22;
    }

    #funrun-p {
        margin-top: 13%;
        padding-left: 8vh;
        padding-right: 30vh;
        font-family: Nunito;
        font-size: 30px;
        color: white;
        margin-bottom: 40%;
        text-align: left;
        margin-left: 9vh;
        margin-right: 8vh;
    }
}

#funrun-p{
    margin-left: 20vh;
}

/* Phone Mode */
@media all and (max-width: 768px){

    #date-funrun{
        display: none;
    }

    #swiper-container-run {
        max-width: 60%;
        padding-bottom: 7%;
    }
    
    #img-funrun{
        padding-top: 8%;
        margin-left: -21vh;
        margin-right: -18vh;
    }
    
    #swiper-slide {
        padding-left: 8%;
        max-width: 100%;
    }
    
    #swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        padding-right: 10px;
        object-fit: cover;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    
    #box-fun {
        display: none;
    }

    #btn-fun {
        margin-left: 6%;
        margin-right: 0;
        padding-bottom: 4%;
        color: #FDCD22;
    }

    #funrun-p {
        margin-top: 1vh;
        padding-left: 8vh;
        padding-right: 30vh;
        font-family: Nunito;
        font-size: 17px;
        color: white;
        margin-bottom: 40%;
        text-align: left;
    }

}