.bg-mass{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/maskworkout.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

#mass-h1{
    font-family: Nunito;
    color: #FDCD22;
    font-size: 100px;
    font-weight: bold;
    font-stretch: ultra-expanded;
    margin-top: 3%;
}

#mass-p{
    font-family: Nunito;
    font-size: 40px;
    color: white;
    margin-bottom: 40%;
}

#mass-date{
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 5%;
}

#mass-swipper{
    margin-left: 5%;
}

#img-swipper{
    margin-top: 14px;
}

.form-control {
    font-size: 25px;
    background-color: #FDCD22;
    text-align: center;
    border: none;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Table Mode */
@media all and (min-width: 768px) and (max-width: 1366px){

    #mass-h1{
        font-size: 70px;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #mass-p{
        margin-top: 5%;
        font-size: 35px;
        text-align: center;
    }

    #mass-date{
        display: none;
    }

    #mass-swipper{
        margin: 0;
    }

    #mass-p.show-more .moreText{
        display: inline;
    }

}
/* Phone Mode */
@media all and (max-width: 768px){

    #mass-h1{
        font-size: 45px;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #mass-p{
        margin-top: 5%;
        font-size: 17px;
        text-align: center;
    }

    #mass-date{
        display: none;
    }

    #mass-swipper{
        margin: 0;
    }

    #mass-p.show-more .moreText{
        display: inline;
    }
    
}